body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    width: 60%;
    margin: auto;
    background: pink;
    padding: 20px;
    margin-top: 40px;
    border-radius: 8px;
}

h1 {
    color: #333;
}

.tagline {
    color: green;
}

h2 {
    color: #444;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
